@page "/register-user"
@using HappyBookingClient.Service.IService
@using HappyBookingShare.Common
@using HappyBookingShare.Request.Auth
@using HappyBookingShare.Request.User
@inject IUserService _userService
@inject NavigationManager _navigation
@inject ILanguageService _languageService
@inject IUploadImageService _uploadImageService
@inject IJSRuntime JSRuntime

<MudBreadcrumbs Items="mudBreadcrumbs" Class="p-0 mb-3 mt-0"></MudBreadcrumbs>

<MudGrid Justify="Justify.Center">
    <MudItem md="4" sm="12" xs="12">
        <div class="avatar-upload">
            <span>@_languageService["ProfilePicture"]</span>

            <div class="avatar-edit">
                <InputFile id="imageUpload" OnChange="LoadFiles" />
                <label for="imageUpload"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> @_languageService["Edit"]</label>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url('@imagePreviewUrl');"></div>
            </div>

        </div>
    </MudItem>
    <MudItem md="6" sm="12" xs="12">
        <MudText Typo="Typo.h6">@_languageService["Register"]</MudText>
        <MudCard>
            @if (isShowAlert)
            {
                <MudAlert Severity="@severity" Variant="Variant.Filled" Dense="true" ShowCloseIcon="true" CloseIconClicked="@(() => isShowAlert = false)">@message</MudAlert>
            }
            <MudForm Model="@requestModel" @ref="@form" ValidationDelay="0">
                <MudCardContent>
                    <MudTextField @bind-Value="requestModel.FullName"
                                  Immediate="true"
                                  placeholder="@_languageService["FullName"]"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.DriveFileRenameOutline"
                                  Variant="Variant.Outlined"
                                  Required="true"
                                  RequiredError="@_languageService["RequiredError"]"
                                  Class="pt-0" />

                    <MudTextField @bind-Value="requestModel.Email"
                                  Immediate="true"
                                  placeholder="@_languageService["Email"]"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Email"
                                  Variant="Variant.Outlined"
                                  Required="true"
                                  RequiredError="@_languageService["RequiredError"]"
                                  InputType="InputType.Email" />

                    <MudTextField @bind-Value="requestModel.PhoneNumber"
                                  Immediate="true"
                                  placeholder="@_languageService["PhoneNumber"]"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.PhonelinkRing"
                                  Variant="Variant.Outlined"
                                  Required="true"
                                  RequiredError="@_languageService["RequiredError"]"
                                  InputType="InputType.Telephone" />

                    <MudTextField @bind-Value="requestModel.CitizenIdentificationNumber"
                                  Immediate="true"
                                  Required="true"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.RememberMe"
                                  Variant="Variant.Outlined"
                                  RequiredError="@_languageService["RequiredError"]"
                                  placeholder="@_languageService["CitizenIdentificationNumber"]" />

                    <MudTextField @bind-Value="requestModel.Address"
                                  Immediate="true"
                                  Required="true"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.AddLocationAlt"
                                  Variant="Variant.Outlined"
                                  RequiredError="@_languageService["RequiredError"]"
                                  placeholder="@_languageService["Address"]" />

                    <MudTextField @bind-Value="requestModel.Password"
                                  Immediate="true"
                                  placeholder="@_languageService["Password"]"
                                  Variant="Variant.Outlined"
                                  Required="true"
                                  InputType="InputType.Password"
                                  Adornment="Adornment.Start"
                                  RequiredError="@_languageService["RequiredError"]"
                                  AdornmentIcon="@Icons.Material.Filled.Password" />

                    <MudTextField @bind-Value="confirmPassword"
                                  Immediate="true"
                                  placeholder="@_languageService["ConfirmPassword"]"
                                  Variant="Variant.Outlined"
                                  Required="true"
                                  InputType="InputType.Password"
                                  Adornment="Adornment.Start"
                                  RequiredError="@_languageService["RequiredError"]"
                                  AdornmentIcon="@Icons.Material.Filled.Password" />
                </MudCardContent>
            </MudForm>
            <MudCardActions Class="pt-0">
                <MudButton Variant="Variant.Filled" Class="mr-2" Size="Size.Small" Color="Color.Success" OnClick="@(async () => await SaveClick())">@_languageService["Save"]</MudButton>
                <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Default" OnClick="@(() => _navigation.NavigateTo("/"))">@_languageService["Cancel"]</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>

@if (isLoading)
{
    <div class="content-loading-overlay">
        <div class="spinner"></div>
    </div>
}

@code {
    private List<BreadcrumbItem> mudBreadcrumbs;
    private MudForm form;
    private RegisterUserRequest requestModel = new();
    private string confirmPassword = string.Empty;
    private bool isShowAlert = false;
    private Severity severity = Severity.Normal;
    private string message = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _languageService.LoadLanguage();
            InitializeBreadcrumbs();
            StateHasChanged();
        }
    }

    private void InitializeBreadcrumbs()
    {
        mudBreadcrumbs = new List<BreadcrumbItem>
        {
            new BreadcrumbItem(_languageService["Home"], href: "/", icon: Icons.Material.Filled.Home),
            new BreadcrumbItem(_languageService["User"], href: "user-list", icon: Icons.Material.Filled.People),
            new BreadcrumbItem(_languageService["Register"], href: "register-user", icon: Icons.Material.Filled.PersonAddAlt1)
        };
    }

    private MemoryStream? memoryStream = null;
    private IBrowserFile? file = null;
    private int maxAllowedFiles = 1;
    private string imagePreviewUrl = "https://st.depositphotos.com/1006018/3108/v/450/depositphotos_31081475-stock-illustration-bus-truck-driver-side-shield.jpg";
    private long maxFileSize = 3 * 1024 * 1024; // 3 MB
    private bool isLoading = false;

    private async Task LoadFiles(InputFileChangeEventArgs eventArg)
    {
        file = eventArg.File;

        if (file.Size > maxFileSize)
        {
            ShowAlert(_languageService["MaxImageSizeIs3MB"], Severity.Warning);
        }

        memoryStream = new MemoryStream();
        await file.OpenReadStream(maxFileSize).CopyToAsync(memoryStream);
        memoryStream.Seek(0, SeekOrigin.Begin); // Reset stream position

        var fileBytes = memoryStream.ToArray();

        // Create Blob URL for the file
        var fileUrl = await JSRuntime.InvokeAsync<string>("createObjectURLFromArray", fileBytes);
        imagePreviewUrl = fileUrl;
    }

    private async Task UploadImageToServer()
    {
        if (file != null && memoryStream != null)
        {
            var formFile = new FormFile(memoryStream, 0, memoryStream.Length, file.Name, file.Name)
                {
                    Headers = new HeaderDictionary(),
                    ContentType = file.ContentType
                };

            var response = await _uploadImageService.UploadImageAsync(formFile);
            if (response != null)
            {
                imagePreviewUrl = response.Data;
            }
        }
    }

    private async Task SaveClick()
    {
        isLoading = true;
        try
        {
            isShowAlert = false;
            await form.Validate();
            if (!form.IsValid)
            {
                return;
            }
            if (string.IsNullOrEmpty(requestModel.Password) || confirmPassword != requestModel.Password)
            {
                ShowAlert(_languageService["InvalidConfirmPassword"], Severity.Warning);
                return;
            }
            if (form.IsValid)
            {
                if (!Validator.IsValidEmail(requestModel.Email))
                {
                    ShowAlert(_languageService["InvalidEmail"], Severity.Warning);
                    requestModel.Email = string.Empty;
                    await form.Validate();
                    return;
                }
                if (!Validator.IsValidPhoneNumber(requestModel.PhoneNumber))
                {
                    ShowAlert(_languageService["InvalidPhoneNumber"], Severity.Warning);
                    requestModel.PhoneNumber = string.Empty;
                    await form.Validate();
                    return;
                }
                await UploadImageToServer();
                requestModel.AvatarImage = imagePreviewUrl;
                var result = await _userService.RegisterUser(requestModel);
                if (result == null || !result.Data)
                {
                    ShowAlert(result?.Message ?? string.Empty, Severity.Warning);
                    return;
                }
                var loginResponse = await _userService.Login(new LoginRequest() { UserName = requestModel.PhoneNumber, Password = requestModel.Password });
                if (loginResponse != null)
                {
                    _navigation.NavigateTo("/");
                    requestModel = new();
                }
            }
        }
        finally
        {
            isLoading = false;
        }
    }

    private void ShowAlert(string message, Severity severity)
    {
        this.isShowAlert = true;
        this.severity = severity;
        this.message = message;
    }
}