@page "/"
@using HappyBookingClient.Components.Layout
@using HappyBookingClient.Components.Pages.Chat
@using HappyBookingClient.Service.IService
@using HappyBookingShare.Request.Chat
@using HappyBookingShare.Response.Dtos
@inject ILanguageService _languageService
@inject IChatService _chatService
@inject IDialogService _dialogService
<style>
    .chatUserName {
        font-size: 16px;
        cursor: pointer;
    }

    .textLeftButton {
        justify-content: left;
    }

        .textLeftButton .mud-card-content {
            padding: 0 5px;
        }

    .searchBoxStyle .mud-input > input.mud-input-root-outlined {
        padding: 13.5px 14px;
    }
</style>

<MudGrid Justify="Justify.Center">
    <MudItem md="4" sm="12" xs="12" Class="mt-2">
        <MudButton Size="Size.Large"
                   Class="mb-2"
                   Variant="Variant.Outlined"
                   EndIcon="@Icons.Material.Filled.ChatBubbleOutline"
                   Color="Color.Default"
                   FullWidth
                   OnClick="OpenAddNewChatDialog">
            @_languageService["NewChat"]
        </MudButton>

        <MudPaper Class="pa-4">
            <MudStack Spacing="1">
                <MudButton Class="textLeftButton" OnClick="(() => OnExpandCollapseClick(0))">@_languageService["DirectMessages"]</MudButton>
                <MudDivider />
                <MudCollapse Expanded="expandedDirectMessages">

                    <MudCard>
                        <MudButton Class="textLeftButton" OnClick="(() => LoadChatMessage(1,1))" FullWidth>
                            <MudCardContent Class=" chatUserName">
                                <MudText>
                                    <MudBadge Color="onlineStatus ? Color.Success : Color.Error" Overlap="true" Bordered="true" Class="mr-2">
                                        <MudAvatar>
                                            <MudImage Src="https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp"></MudImage>
                                        </MudAvatar>
                                    </MudBadge>
                                    <span>Story of the day</span>
                                </MudText>
                            </MudCardContent>
                        </MudButton>
                    </MudCard>

                </MudCollapse>
            </MudStack>
        </MudPaper>

        <MudPaper Class="pa-4 mt-2">
            <MudStack Spacing="1">
                <MudButton Class="textLeftButton" OnClick="(() => OnExpandCollapseClick(1))">@_languageService["Spaces"]</MudButton>
                <MudDivider />
                <MudCollapse Expanded="expandedSpaces">
                    This content is collapsible.
                </MudCollapse>
            </MudStack>
        </MudPaper>
    </MudItem>

    <MudItem md="8" sm="12" xs="12">
        <MudTextField @bind-Value="messageSearchKeyWord"
                      Placeholder="@_languageService["Search"]"
                      Variant="Variant.Outlined"
                      Adornment="Adornment.End"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Class="searchBoxStyle" />

    </MudItem>


</MudGrid>

<LoadingComponent IsLoading="isLoading" />

@code {
    private bool isLoading = false;
    bool expandedDirectMessages = true;
    bool expandedSpaces = true;
    long userId = 0;
    string messageSearchKeyWord = string.Empty;
    bool onlineStatus = false;
    List<ChatDto> groupChatList = new();
    List<ChatDto> singleChatList = new();
    List<MessageDto> messageList = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isLoading = true;
            StateHasChanged();

            await _languageService.LoadLanguage();
            await LoadGroupChatList(1);
            await LoadSingleChatList(1);

            isLoading = false;
            StateHasChanged();
        }
    }


    private void OnExpandCollapseClick(int typeCollapse)
    {
        switch (typeCollapse)
        {
            case 0:
                expandedDirectMessages = !expandedDirectMessages;
                break;
            case 1:
                expandedSpaces = !expandedSpaces;
                break;
        }
    }

    private async Task OpenAddNewChatDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, CloseButton = true, MaxWidth = MaxWidth.Medium };
        var dialog = await _dialogService.ShowAsync<AddNewChatDialog>(_languageService["NewChat"], options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            var _licenseAccepted = (bool)(result.Data ?? false);
        }
    }

    private async Task LoadGroupChatList(int pageIndex)
    {
        GetListChatGroupByMemberRequest request = new();
        request.PageIndex = pageIndex;
        request.PageSize = 10;
        request.IsGroupChat = true;
        request.MemberId = userId;
        var response = await _chatService.GetListChatGroupByMemberAsync(request);
        groupChatList = response?.Data ?? new();
    }

    private async Task LoadSingleChatList(int pageIndex)
    {
        GetListChatGroupByMemberRequest request = new();
        request.PageIndex = pageIndex;
        request.PageSize = 10;
        request.IsGroupChat = false;
        request.MemberId = userId;
        var response = await _chatService.GetListChatGroupByMemberAsync(request);
        singleChatList = response?.Data ?? new();
    }

    private async Task LoadChatMessage(long chatId, int pageIndex)
    {
        GetMessageListRequest request = new();
        request.PageIndex = pageIndex;
        request.PageSize = 10;
        request.ChatId = chatId;
        request.KeyWord = messageSearchKeyWord;
        var response = await _chatService.GetMessageListAsync(request);
        messageList = response?.Data ?? new();
    }
}